{% extends 'layout.html.twig' %}

{% block page_title %}Connexion{% endblock %}

{% block content %}

    <main class="no-bg">
        <section id="connexion_form" class="animated fadeInLeftBig" >
            <div class="container" id="login_form">
                <form action="{{ url('app_login') }}" class="form-signin" method="post">
                    <h1 class="form-signin-heading text-muted">Connectez-vous</h1>

                    {% if error is not null %}
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Votre mot de passe et votre mail ne correspondent pas
                        </div>
                    {% endif %}

                    {% if app.request.get('app_register') == 'success' %}
                        <div class="alert alert-success">
                            <p class="text-center"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></p>
                            <p class="text-center">Félicitations, votre inscription est effective.
                                <br>Vous pouvez maintenant vous connecter.</p>
                        </div>
                    {% endif %}

                    <input name="_username" type="text" class="form-control" id="username" placeholder="Saississez votre email" required autofocus="" value="{{ lastEmail }}">
                    <input name="_password" type="password" class="form-control" id="password"  placeholder="Entrez votre mot de passe" required>

                    <input type="hidden" name="_target_path" value="{{ path('app_index') }}" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <div>
                        <input id="signIn_Reset" class="btn btn-lg btn-block bouton_lien" type="reset" value="Effacer">
                        <input id="signIn_Validate" class="btn btn-lg btn-block bouton_lien" type="submit" value="Connexion">
                    </div>
                </form>
                <div class="sub_section_login">
                    <a href="{{url('app_forget_password')}}">Mot de passe oublié</a> | <a href="{{ url('app_register') }}">Inscrivez-vous</a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block javascripts %}

{% endblock %}
