{% extends 'layout.html.twig' %}

{% block page_title %}Accueil{% endblock %}

{% block content %}

    <section id="accueil animated fadeIn">

        <div class="container">
            {% if app.session.get("forget") == 1 %}

                <div class="alert alert-success">
                    Votre demande a bien été prise en compte , <br>
                    Un nouveau mot de passe vous a été envoyé sur votre adresse mail
                </div>

            {% endif %}
            <div class="row">
                <div id="bloc_bienvenue">
                    <img class="img-responsive" src="{{ asset('build/oeuvres/ecloz_bomb.jpg') }}" alt="bombes de peinture">
                    <div class="col-xs-12 col-sm-6 col-md-5" id="bloc_texte_bienvenue">
                        <h1 class="col-xs-8">Bienvenue dans l'univers d'<span class="bleu_canard"><a href="{{ url('app_index')}}#artiste">Ecloz</a></span></h1>
                    </div>
                </div>
            </div> <!-- /.row -->
            <div class="row">
                <div id="bloc_a_la_une">
                    <div class="col-xs-12">
                        <h2>Dernières œuvres proposées</h2>
                    </div>
                    <div class="col-xs-5 col-sm-6 col-md-4" id="trait_bleu"></div>
                </div>
            </div> <!-- /.row -->
            <div class="row" id="oeuvres_a_la_une">
                {% for artwork in artworks %}
                <div class="col-xs-12 col-sm-3 apercu_catalogue">
                    <a href="{{ artwork.id }}" class="w-auto h-100 text-center">
                        <img class="img-thumbnail image_a_la_une" src="{{ asset(artwork.artworkPicture) | slice(7) }}" alt="{{ artwork.artworkName }}" />
                        <div class="overlay_apercu_catalogue"><span>{{ artwork.artworkName }}</span></div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row" id="lien_catalogue">
                <a href="{{ url('app_catalog') }}" class="bouton_lien">Consulter le catalogue</a>
            </div>
        </div> <!-- /.contanier -->
    </section> <!-- /#accueil -->
    <section id="artiste">
        <div class="container">
            <div id="presentation_artiste">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-5" id="texte_presentation">
                        <div class="col-xs-12">
                            <h1>Ecloz</h1>
                            <div class="social_media">
                                <a href="https://www.facebook.com/ecloz/" target="blank"><i class="fab fa-facebook-square" data-toggle="tooltip" title="Facebook"></i></a>
                                <a href="https://www.youtube.com/channel/UCMyJeuM9KI5JY7Nu4A9wP7w" target="blank"><i class="fab fa-youtube" data-toggle="tooltip" title="Youtube"></i></a>
                                <a href="https://www.instagram.com/eclozartiste/?hl=fr" target="blank"><i class="fab fa-instagram" data-toggle="tooltip" title="Instagram"></i></a>
                                <a href="http://www.ecloz.fr" target="blank"><i class="fas fa-globe" data-toggle="tooltip" title="Ecloz"></i></a>
                            </div>
                        </div>
                        <div class="presentation_artiste col-xs-12">
                            <p>
                                Peu de disciplines sont aussi exigeantes, authentiques et incomprises que le graff. Le graff c'est l'instant présent, un regard décalé et sans fard de la réalité, une pulsion. Guillaume Vincent a 15 ans quand il commence à peindre, à la fin des années 90, sous le pseudo "Ecloz". Friches industrielles, murs, trains, bords d'autoroutes, le graff devient très vite une passion dévorante.
                            </p>
                            <p>
                                Il prend des milliers de photos, améliore constamment sa technique, et se déplace partout en France et à l’étranger. En 2004, il sera arrêté et condamné à neuf mois de prison ferme. La peine sera réduite en appel à un sursis, assorti de 55 000 Euro d'amende.<br>Mais Ecloz n'abandonne pas.
                            </p>
                            <p>
                                Il se lance dans la déco, transmet sa passion, peint sur toile et expose ses photos. Il achète et restaure une boutique de la rue des Bons Enfants à Rouen, et y fait son atelier. Ecloz peint toujours dans les friches. Sa force est de n'avoir rien oublié de ses premiers pas, de ses exploits, des sanctions, ni du soutien inconditionnel de ses parents.
                            </p>
                            <p>
                                S'il est resté aussi fidèle à l'esprit du graff, c'est par la conviction qu’il a, au delà de l'intérêt Artistique, une vraie valeur. Celle de la réalisation et du dépassement de soi.
                            </p>
                            <p>
                                Loïc Carpentier
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-5" id="photo_ecloz">
                        <img class="img-responsive mx-auto" src="{{ asset('build/oeuvres/photo-ecloz.jpg') }}" alt="Ecloz en photo">
                    </div>

                </div> <!-- /.row -->
            </div>
            <div class="travail">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Son travail</h2>
                            </div>
                            <div class="col-xs-5 col-sm-6 col-md-4" id="trait_bleu"></div>
                        </div>
                        <div class="row videos_travail">
                            <div class="col-xs-12 col-md-4 video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v20kBXSEm8s?rel=0" style="border:0;" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://www.youtube.com/embed/EJNREzvLyqs?rel=0" style="border:0;" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://www.youtube.com/embed/BPyx7NgQOx8?rel=0" style="border:0;" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </section> <!-- /#artiste -->

    <section id="contact">
        <div class="container" id="contact_form">

{#            <form class="col-xs-12 col-sm-6 form-signin" method="POST" action="{{ url('index') }}#contact">#}
{#                {% if send == true %}#}
{#                    <div class="alert alert-success">#}
{#                        Votre message a été envoyé !#}
{#                    </div>#}
{#                {% endif %}#}
{#                <h1 class="form-signin-heading text-muted">Contactez l'artiste</h1>#}
{#                {% if nomError is not null %}#}
{#                    <div class="alert alert-danger">{{ nomError }}</div>#}
{#                {% endif %}#}
{#                <input name ="nom" type="text" class="form-control" placeholder="Nom">#}
{#                {% if prenomError is not null %}#}
{#                    <div class="alert alert-danger">{{ prenomError }}</div>#}
{#                {% endif %}#}
{#                <input name="prenom" type="text" class="form-control" placeholder="Prenom">#}
{#                {% if mailError is not null %}#}
{#                    <div class="alert alert-danger">{{ mailError }}</div>#}
{#                {% endif %}#}
{#                <input name="mail" class="form-control" placeholder="Email">#}
{#                {% if telError is not null %}#}
{#                    <div class="alert alert-danger">{{ telError }}</div>#}
{#                {% endif %}#}
{#                <input name="tel" class="form-control" placeholder="Telephone">#}
{#                {% if messageError is not null %}#}
{#                    <div class="alert alert-danger">{{ messageError }}</div>#}
{#                {% endif %}#}
{#                <textarea name="message" class="form-control" placeholder="Entrez votre message" rows="8"></textarea>#}
{#                <button id="contact_reset" class="btn btn-lg btn-block bouton_lien" type="reset">#}
{#                    Annuler#}
{#                </button>#}
{#                <button id="contact_validate" class="btn btn-lg btn-block bouton_lien" name="contact" type="submit">#}
{#                    Valider#}
{#                </button>#}
{#            </form>#}

            <div class=" col-xs-12 col-sm-6 adresse_galerie">
                <p>La Galerie se situe au 54 Rue des Bons Enfant 76000 ROUEN</p>
                {# <div id="map"></div>#}
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.120167473534!2d1.0873820158690155!3d49.444445767216195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0ddd9aec3d9d9%3A0xb38e51bd9017e7ba!2s54%20Rue%20des%20Bons%20Enfants%2C%2076000%20Rouen!5e0!3m2!1sfr!2sfr!4v1600794756057!5m2!1sfr!2sfr"
                        width="1000" height="400" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>
        </div>
    </section> <!-- /#contact -->

{% endblock %}

{% block javascripts %}

{% endblock %}
